{% extends 'shared/base.html' %}

{% block meta %}
    <title>Home</title>
{% endblock meta %}
    

{% block content %}
    <h1 class="text-center">Products</h1>
    <div class="container">
        <div class="row">
            {% for product in object_list %}
                <div class="col-md-3" class="product-card">
                    <div class="card shadow">
                        <img class="card-img-top" src="{{ product.image.url }}" height="200" alt="Card image cap">
                        <div class="card-body">
                            <a href="" class="product-title">
                                <h5 class="card-title">{{ product.name }}</h5>
                            </a>
                            <p class="card-text">{{ product.short_description }}</p>
                            <p>
                                <b class="me-2">₹ {{ product.price }}</b>&period;
                                <span class="ms-2 text-primary">{{ product.category.name }}</span>
                            </p>
                            <div class="d-flex">
                                <a href="" class="btn btn-primary ms-auto">
                                    <ion-icon name="cart"></ion-icon>
                                    Add to Cart
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
