{% extends 'shared/base.html' %}

{% block content %}
    <div class="container">
        <h1 class="text-center">Brands</h1>
        <div class="d-flex">
            <a href="{% url 'brand_create' %}" class="ms-auto btn btn-primary">
                + New Brand
            </a>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Slug</th>
                    <th>Description</th>
                    <th>Website</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for i in object_list %}
                    <tr>
                        <td>{{ i.name }}</td>
                        <td>{{ i.slug }}</td>
                        <td>{{ i.description }}</td>
                        <td>{{ i.website }}</td>
                        <td>
                            
                            <a href="{% url 'brand_update' id=i.id %}">Edit</a> | 
                            <a href="{% url 'brand_delete' id=i.id %}" class="text-danger">Delete</a>
                                
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}
    